<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Cocktail Roulette</h1>
    <button onClick="window.location.reload()">Generate a Random Cocktail</button>
    <div>
      <h2><%=cocktailTitle %></h2>
      <div class="container">
        <img
          src= <%=img %>
          alt= <%=cocktailTitle %>
        />
        <div class="recipe">
          <h3>Recipe:</h3>
          <ul>
            <% ingredients.forEach((ingredient) => { %>
                <li><%= ingredient %></li>            
           <% }) %>
          </ul>
          <p>
            <%= recipe %>
          </p>
        </div>
      </div>
    </div>
    <script src=""></script>
  </body>
</html>
